body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.landing-page {
    flex: 1;
    flex-wrap: wrap;
}

.first {
    background: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 1000px;
    font-family: Roboto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hlogo {
    font-size: 23px;
    font-weight: 600;
}

ul {
    list-style: none;
    font-size: 18px #e5e7eb;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.hero-text {
    margin-top: 100px;
    display: flex;
    margin-bottom: 100px;
}

.left-text {
    width: 500px;
    height: 250px;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 20px;
}

.main-text {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 10px;
}

.secondary-text {
    margin-bottom: 10px;
    font-size: 20px;
}

.sign-up {
    border-radius: 8px;
    cursor: pointer;
    background: royalblue;
    color: white;
    padding: 8px 25px;
    font-weight: bold;
    font-size: 15px;
}
 
.image-holder {
    box-sizing: border-box;
    background-color: rgb(177, 177, 177);
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-part {
    text-align: center;
}

.title {
    padding: 50px;
    font-size: 36px;
    font-weight: 900;
}

.items {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 5px solid aquamarine;
    outline-color: black;
    border-radius: 20px;
}
.info {
    max-width: 150px;
    font-size: 18px;
    margin-bottom: 100px;
}

.third-part {
    background: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 800px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    
}

.content {
    font-family: 'light italic';
    font-size: 36px;
    display: flex;
  
}

#author {
    font-weight: bold;
    font-size: 20px;
    margin-left: auto; 
}

.fourth-part {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fourth {
    width: 700px;
    margin: 200px 0 200px 0;
    padding: 30px 100px;
    border-radius: 10px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    color: white;
}

.clicking {
    font-size: 20px;
    color: white;
}

.third-button {
    border: 1px solid white;
    border-radius: 8px;
    border-color: white;
    cursor: pointer;
    background: transparent;
    color: white;
    padding: 5px 30px;
    font-weight: bold;
    font-size: 15px;
    margin-top: auto;
}

.footer {
    background-color: black;
    color: white;
    padding: 40px;
    text-align: center;
    font-size: 18px;
}
